/node_modules
/env/**
!/env/set-env-and-test.js
!/env/unit-test.env
!/env/sample.env
/coverage
*.LOG
nodemon.json
.DS_Store
.clinic
.idea
run
test*.js
*~
*.swp
*.swo
.vscode/*
!.vscode/launch.json
.editorconfig
.npmrc
boop.json