###############################################################
# WhiteSource Unified-Agent configuration file
###############################################################
# GENERAL SCAN MODE: Files and Package Managers
###############################################################
# Organization vitals
######################

apiKey=
#userKey is required if WhiteSource administrator has enabled "Enforce user level access" option
#userKey=

projectName=
projectVersion=
projectToken=a534aefd37744d96858cbc03e2eff4d511730f4bad65447a9c3ba7f505fee0d7
#projectTag= key:value

productName=
productVersion=
productToken=2d0a64a5e9c94c128c883dad6bb9c8791a80da190b5c4e9282e6a53b1c8a23fc

#wss.connectionTimeoutMinutes=60
wss.url=https://app.whitesourcesoftware.com/agent

############
# Policies #
############
checkPolicies=false
forceCheckAllDependencies=false
forceUpdate=false
forceUpdate.failBuildOnPolicyViolation=false
#updateInventory=false

########################################
# Package Manager Dependency resolvers #
########################################
#resolveAllDependencies=false
#excludeDependenciesFromNodes=.*commons-io.*,.*maven-model

#npm.resolveDependencies=false
npm.ignoreSourceFiles=false
#npm.includeDevDependencies=true
#npm.runPreStep=true
#npm.ignoreNpmLsErrors=true
#npm.ignoreScripts=true
#npm.yarnProject=true
#npm.accessToken=
#npm.identifyByNameAndVersion=true
#npm.yarn.frozenLockfile=true
#npm.resolveMainPackageJsonOnly=true
#npm.removeDuplicateDependencies=false
#npm.resolveAdditionalDependencies=true
#npm.failOnNpmLsErrors = 
#npm.projectNameFromDependencyFile = true
#npm.resolveGlobalPackages=true							   
#npm.resolveLockFile=false

###########################################################################################
# Includes/Excludes Glob patterns - Please use only one exclude line and one include line #
###########################################################################################

case.sensitive.glob=false
followSymbolicLinks=true